.main-header {
	background-color: black;
	font-size: 1rem;
	position: relative;
	@include bp(desktop){
		font-size: 1.2rem;
	}
	height: 4em;
		.container {
			align-items: center;
			justify-content: space-between;
			display: flex;
			width: 95%;
		}

//logo

	.logo {
		height: 4em;
		z-index: 20;
			width: auto;
			position: absolute;
			left: 1em;
			padding: 0.3em;


}


//Mobile

#mobile_overlay {
	width: 100%;
	background: rgba(0, 0, 0, 0.498039);
	min-height: 50em;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	bottom: 0;

}
.mobile_tablet_menu {
	font-size: 1em;

	.icon-menu {
		// top: 0;
		right: 0;


		&:before {

content: "\f00d";
			}
	}
.icon-menu.on:before {
// content: "\f00d";
content: "\f0c9";

}
.icon-search {
	// top: 0;
	right: 4.1em;
	// &:before {
	// 	// content: "\f002";
	// }

}
[class*="icon-"] {
	color: white;
	height: 4em;
	width: 4em;
	z-index: 20;
	line-height: 4em;
	text-align: center;
	font-family: FontAwesome;
	background: #1c1c1c;
	position: absolute;


}

	.navigator {
	position: absolute;
	top: 4em;
	width: 15em;
	right: -15em;
	background: $white;
	float: right;
	z-index: 100;

	nav.mobile_menu {

		height: auto;
		display: block;
		margin: 0;
		padding: 0;
		ul {
			padding: 1em;
			margin: 0em;

			li {
				color: white;
				width: 100%;
				display: block;
				border-bottom: $grey1 0.063em solid;

				a {
					color: black;

					padding-left: 0;
					line-height: 3em;
					text-align: center;
					letter-spacing: 0.05em;
					transition: 0.35s ease;

					&:hover {
						color: $gold;
						transition: 0.35s ease;
					}
				}
			}
		}
	.other {
		text-transform: uppercase;
		font-family: $montserrat;
		font-style: normal;

		li {
			&:last-child {
	border: none;
}
a {
			color: $grey3;
			font-size: .8em;
			letter-spacing: 0.3em;

			}
		}
		}
	}
}

}
}
@include bp(phone-tablet){
.menu ,
 .top-header {
	display: none;
}
}
@include bp(desktop){

  .mobile_tablet_menu {
	display: none;
}

.menu{
	font-size: 20px;
	font-size: 1em;
		// padding: 1.5em 0;

	ul {

		display: inline-block;
		float: right;

		margin: 0;

		li {
			display: inline-block;
			list-style: none;
			margin: 0;
			a {
				color: white;
				padding: 0em 1em;
				// opacity: 0.8;
				line-height: 4em;
				// letter-spacing: 2px;


				&:hover {
					opacity: 1;
				}
			}
		}
	}
}








}
.top-header {
	background-color: $gold;
	height: 4em;
	font-size: 1em;
	.topnav-bar {
		// padding: 0.625em 0;
		width: 100%;
		text-align: right;

		nav {
			float: right;
			li {
				line-height: 4em;
			}
		}
	}

	.right_bar {
		position: relative;

		&:after {
			content: "";
			display: block;
			width: .1em;
			height: 60%;
			transform: translate(-50%, -50%);
			background: black;
			position: absolute;
			top: 50%;
			vertical-align: middle;
			right: 0;
		}
	}

	a {
		color: black;

		font-weight: bold;
		padding: 0em 1.5em;
		text-transform: uppercase;
		line-height: 2;
		letter-spacing: 0.3em;

	}
}

.search-wrap {
	background-color: #ffc000;
	form {
		width: 100%;
	}
	input {
		background-color: #ffc000;
		border: none;
		outline: none;
		color: green;
		text-align: right;
		height : 4em;
		width: 100%;
		font-size: 1em;
		outline: none;
		font-family: Georgia;
		font-style: italic;
	}
	}
	::placeholder {
		color: white;
	}


.toggle-search {
	color: white !important;
	text-decoration: none;
	text-transform: uppercase;
}
