.featured-box {
	.container {
		display: block;
	}

	.featured {


		&:nth-child(1) {
			width: 66.66%;
			background-color: $gold;
			padding: 0;
			float: left;
			h2 {
				color: white;
			}

			.staff_img,

			.staff_info {
				width: 50%;
				float: left;
		}
	}

		&:nth-child(2) {
			width: 33.33%;
			float: right;
			padding: 0;
			// background-color: $grey1;
			height: 100%;

			h2 {
				color: $grey3;
			}

		}

		&:nth-child(3) {
			width: 66.66%;
			background-color: $grey1;
			padding: 0;
			float: left;

			h2 {
				color: $grey3;
			}

			.staff_img,

			 .staff_info {
				width: 50%;
				float: right;
			}
		}
	}





	.name_box {
		text-transform: uppercase;
		margin-bottom: 15%;
	}

	.quote {
		line-height: 1.5;
	}

	h1 {
		letter-spacing: 3px;
		line-height: 2em;
		font-weight: bold;
	}

	h2 {
		font-size: 14px;
	}


	.featured:hover .featuredimg {
		opacity: 0.4;
	}

	.featured:hover .staff_img span {
		opacity: 1;
	}

	.featured h7 {
		// color:#939393;
	}
	.staff_img {
				background-color: black;
				height: 50vh;
				position: relative;
				display: block;
	}

	.staff_info {
padding: 2em;
	}

	.featuredimg {
		//
		// height: 50vh;
		// position: relative;
		// display: block;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@include bp(tablet) {
			height: 30vh;
		}

	}

.staff_img span{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
	color: white;
	transform: translate(-50%,-50%)
}
.triangle{

    width: 0;
    position: absolute;
    top: 15%;
    right: 0;
    height: 0;
    border-top: 3em solid transparent;
    border-bottom: 3em solid transparent;
    border-right: 3em solid white;
}
.lefttriangle{
    width: 0;
    position: absolute;
    top: 45%;
    right: 0;
    height: 0;
    border-top: 2em solid transparent;
    border-bottom: 2em solid transparent;
    border-right: 2em solid #ffc530;
}
.righttriangle{
    width: 0;
    position: absolute;
    top: 45%;
    left: 0;
    height: 0;
    border-top: 2em solid transparent;
    border-bottom: 2em solid transparent;
    border-left: 2em solid #F2F2F3;
}
.downtriangle{
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
	transform: translate(-50%,0%);
    height: 0;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    border-bottom: 2em solid white;
}
}
