.part_of_process {
	background-color: black;
	color: white;
	// padding-top:5%;
// margin: 3em 0;
.grid{
	&:last-child{
		padding-top: 2em;

	}
}
	.col-1-2 {

		&:first-child {
			padding-right: 5%;
			// padding-bottom: 3em;
		}
@include bp(phone){
&:last-child {
padding: 5%;
}

}
	}

	h2 {
		margin: 0.5em 0;
		font-weight: bold;


		&:after {
			content: "";
			display: block;
			margin-top: .5em;
			width: 30%;
			height: .1em;
			background-color: $gold;
		}
	}
	h5 {
		font-weight: $light;
	}
	.XULA_facts{
padding: 2.5em 0;
	}
	ul{

	li{
text-align: center;
text-transform: uppercase;
		margin: 0.75em 0;
// display: inline-block;
span{
display: block;
margin-bottom: .5em;
font-size: 3em;
font-weight: 400;
}
	}
	.col-1-4 {
	position: relative;
	h1{
		font-weight: bold;
		letter-spacing: .1em;
		// line-height: 1em;
	}

	&:last-child:after {
		display: none;
	}

	&:after {
		content: "";
		display: block;
		width: 0.1em;
		height: 100%;
		background: white;
		position: absolute;
		top: 0;
		right: 0;
	}
@include bp(phone){
&:after{
background:none;
}

}
}

}
}
