
.slider {
  max-width: 80%;
  margin: 2em auto;}

  .quote_img{
    margin: 0 auto;
    width: 5%;
  }

.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
    height: 19em;
    @include mq($S){
      height: 25em;
    }
    @include mq($M){
      height:22em;
    }
	}

.slide-group {
    width: 100%;
    height: 100%;
			padding: 2em 0em;
    position: relative;
	}

.slide {
    width: 100%;
    height: 100%;
    display: none;
		transition : .4s ease-in-out;
    position: absolute;
		text-align: center;

		h1{
		letter-spacing: .05em;
		line-height: 1.7em;
		}
    h2{
      text-transform: uppercase;
      font-weight: bold;
      margin: 1em auto;
      letter-spacing: 0.1em;
    }
  //   &:after{
  // content: " ";
  // clear:both;
  // visibility: hidden;
  // position: absolute;
  // display: block;
  // // left: 33.4%;
  // // width: 33.4%;
  // height: 100%;
  // background: #ccc;
  //
  //   }
	 }

.slide:first-child {
    display: block;
		// transition : .6s ease-in-out;
		// transform: translate3d(0, 0, 0);
	}


/********** BUTTONS **********/
.slide-buttons {
  margin: 2em;
  text-align: center;

}

.slide-btn {
  border: none;
  background: none;
  color: $grey2;
  font-size: 2.5em;
		outline: none;
  line-height: 0.5em;}

.slide-btn.active, .slide-btn:hover {
  color: $gold;
  cursor: pointer;}
