.this-is-xula {
	margin: 3em auto;

	.col-1-2 {
		&:first-child{

		h2 {
			line-height: 1.5em;

		}
		h3{
			line-height: 1.8em;
			font-weight: 400;
			color: $grey3;
		 }
}
		&:last-child {
			padding-left: 2em;
			padding-top: 3em;

	}
}
}
