.tile-grid {
	display: flex;
	width: 100%;
	justify-content: space-around;

	.tile {
		position: relative;
		width: 24%;
		padding-bottom: 24%;
		filter: grayscale(100%);
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 1em;
		background-position: center;
		@include mq($S){
			width: 45%;
		}
		@include mq($M){
			width: 24%;
		}

		&:hover {
			filter: grayscale(0%);

			h2 {
				opacity: 1;
			}
		}

		h2 {
			position: absolute;
			background: $gold;
			width: 100%;
			padding: 5%;
			bottom: 0;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;
			opacity: 0;

			&:after {
				content: " >";
			}
		}
	}
}
