
// @mixin triangle( $size, $color, $side:left ) {
//
//
// 	&:before {
// 		content: "";
// 		width: 0;
// 		height: 0;
// 		display: block;
// 		position: absolute;
// 		top: 0;
// 		border-top: $size solid transparent;
// 		border-bottom: $size solid transparent;
//
// 		@if $side == left {
// 			border-right: $size solid $color;
// 			border-left: 0;
// 			right: 100%;
// 		}
//
// 		@if $side == right {
// 			border-left: $size solid $color;
// 			border-right: 0;
// 			left: 100%;
// 		}
// 	}
// }

@mixin triangle( $size, $color, $side ,$top ) {

	&:before {
		content: "";
		width: 0;
		height: 0;
		bottom:0;
		display: block;
		position: absolute;
		top: $top;

		@if $side == left {
			border-left: $size solid $color;
			border-right: 0;
			left: 0%;
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
		}

		@if $side == right {
			border-right: $size solid $color;
			border-left: 0;
			right: 0%;
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
		}
		@if $side == top {
			border-bottom: $size solid $color;
			border-top: 0;
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			bottom: 100%;
		}
		@if $side == bottom {

			border-top: $size solid $color;
			border-bottom: 1;
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			// border: solid yellow 5px;
			left: 50%;
			-webkit-filter: drop-shadow(0 0px 0px #000);
      filter: drop-shadow(0 1px 0px #f3f3f3);
			top: 99%;
			transform: translate(-50%, 0%);

	}
	@if $side == bbottom {

		border-bottom: $size solid $color;
		border-top: 0;
		-webkit-filter: drop-shadow(0 0px 0px #000);
		filter: drop-shadow(0 0px 0px #000);
		top: 100%;
		left:50%;
		transform: translate(-50%, -100%);


}
}
}
