
{{>nav}}
{{>Home_Hero}}

<main class="main" role="main">
<!-- {{>icon_grid}} -->
{{>this_is_xula}}
    {{>part_of_process section_part_of_process.Alert}}
        {{>student_life student_life.Alert}}
{{>info_box}}
{{>find_your_future}}
{{>cutout cutout.STL}}

{{>alumni_LR_hover alumni_LR_hover.Alumni_Hover}}
{{>quote_slider quote_slider.Quote_Slider}}
{{>cutout cutout.BnB}}

{{>arrow_info_box arrow_info_box.Featured_Staff}}
{{>cutout cutout.HnE}}
{{>Calender calender.Calender}}
{{>visit_apply_request}}
</main>


<footer role="contentinfo">
  <p>&copy; 2015 Company Name</p>
</footer>
{{>footer}}


<script data-main="js/main" src="js/libs/requirejs/require.js"></script>
<script>
  // define settings for require
  define('settings', {
  });
</script>
