@include bp(desktop-tablet_NAV){

  .mobile_tablet_menu {
	display: none;
}
}
.mobile_tablet_menu{
	.icon {
		color: white;
		height: 7em;
		width: 3em;
		@include mq($M){
			width: 4em;
		}
		float: right;
		z-index: 20;
		margin-left: .1em;
		line-height: 7em;
		text-align: center;
		display: inline-block;
		font-family: FontAwesome;
		background: #121212;
		position: relative;
		// position: absolute;

		&--menu{
			&:before {
				font-size: 1.7em;
				@extend .center;
				content: "\f0c9";
			}
		}
		&--search{
			font-size: 1.7em;
			@extend .center;
			content: "\f002";

		}

	}


}

	.navigator {
	position: absolute;
	top: 7em;
	width: 300px;
	right: -300px;
	background: $white;
	float: right;
	z-index: 100;

	nav.mobile_menu {

		height: auto;
		display: block;
		margin: 0;
		padding: 0;
		ul {
			padding: 1em;
			margin: 0em;

			li {
				color: white;
				width: 100%;
				display: block;
				border-bottom: $grey1 0.063em solid;

				a {
					color: black;
          @extend .heading-6;

					padding-left: 0;
					line-height: 3em;
					text-align: center;
					letter-spacing: 0.05em;
					transition: 0.35s ease;

					&:hover {
						color: $gold;
						transition: 0.35s ease;
					}
				}
			}
		}
	.other {
		text-transform: uppercase;
		font-family: $montserrat;
		font-style: normal;

		li {
			&:last-child {
			border: none;
}
a {
			  color: $grey3;
			// font-size: .8em;
      // @extend .heading-6;
			letter-spacing: 0.3em;

			}
		}
		}
	}
}
	// .container {
	// 	align-items: center;
	// 	justify-content: space-between;
	// 	display: flex;
	// 	width: 95%;
	// }
// }

//logo

.logo {
	// height: 5em;
	// z-index: 20;
	// 	width: auto;
	// 	position: absolute;
	// 	left: 1em;
	// 	margin: 1.5em;


}

//
// }


//



// //Mobile
// @include mq($L){
// 	#mobile_overlay,.mobile_tablet_menu {
// 		visibility: hidden;
// 	}
// }
// //
//
// #mobile_overlay {
// 	width: 100%;
// 	background: rgba(0, 0, 0, 0.498039);
// 	// min-height: 50em;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	visibility: hidden;
// 	bottom: 0;
//
// }
// .mobile_tablet_menu {
// 	font-size: 1em;
//
// 	.icon-menu {
// 		right: 0;
// 		&:before {
// content: "\f0c9";
// // content: "\f00d";
// 			}
// 	}
// 	icon-menu.on{
// 		content: "\f00d";
// 	}
// .icon-menu.on:before {
// content: "\f00d";
// // content: "\f0c9";
//
// }
// .icon-search {
// 	// top: 0;
// 	right: 4.1em;
// 	// &:before {
// 	// 	// content: "\f002";
// 	// }
//
// }
// [class*="icon-"] {
// 	color: white;
// 	height: 4em;
// 	width: 4em;
// 	z-index: 20;
// 	line-height: 4em;
// 	text-align: center;
// 	font-family: FontAwesome;
// 	background: #1c1c1c;
// 	position: absolute;
//
//
// }
//
// 	.navigator {
// 	position: absolute;
// 	top: 7em;
// 	width: 70%;
// 	right: -70%;
// 	background: $white;
// 	float: right;
// 	z-index: 100;
//
// 	nav.mobile_menu {
//
// 		height: auto;
// 		display: block;
// 		margin: 0;
// 		padding: 0;
// 		ul {
// 			padding: 1em;
// 			margin: 0em;
//
// 			li {
// 				color: white;
// 				width: 100%;
// 				display: block;
// 				border-bottom: $grey1 0.063em solid;
//
// 				a {
// 					color: black;
//           @extend .heading-6;
//
// 					padding-left: 0;
// 					line-height: 3em;
// 					text-align: center;
// 					letter-spacing: 0.05em;
// 					transition: 0.35s ease;
//
// 					&:hover {
// 						color: $gold;
// 						transition: 0.35s ease;
// 					}
// 				}
// 			}
// 		}
// 	.other {
// 		text-transform: uppercase;
// 		font-family: $montserrat;
// 		font-style: normal;
//
// 		li {
// 			&:last-child {
// 			border: none;
// }
// a {
// 			  color: $grey3;
// 			// font-size: .8em;
//       // @extend .heading-6;
// 			letter-spacing: 0.3em;
//
// 			}
// 		}
// 		}
// 	}
// }
