

<button class="accordion">{{accord}}</button>
<div class="panel">

<div class="column">
<h1 class="heading-7">BIOLOGICAL AND PUBLIC HEALTH SCIENCES</h1>
<li>Department of Biology</li>
<li>Department of Public Health Sciences</li>
</div>
<div class="column">
<h1 class="heading-7">MATHEMATICS AND PHYSICAL SCIENCES</h1>
<li>Department of Chemistry</li>
<li>Department of Computer Science</li>
<li>Department of Mathematics</li>
<li>Department of Physics</li>
</div>
<div class="column">
<h1 class="heading-7">FINE ARTS AND HUMANITIES</h1>
<li>Department of Art</li>
<li>Department of English</li>
<li>Department of History</li>
<li>Department of Languages</li>
<li>Department of Music</li>
<li>Department of Philosophy</li>
<li>Department of Theology</li>
</div>

</div>
