<section class="cutout {{[Class]}}">

<div class="container">

	<div class="wrap">

		    {{#if Text}}
			<h1 class="heading-3 georgia">   {{ Text }} </h1>
			{{/if}}
			<h2 class="heading-1"> <strong>
				  {{ Title }} </strong> </h2>
					{{#if button}}
					{{>button button}}
										{{>button button2}}
				{{/if}}

									</div>
												<img class="cutout" src="{{ Image.src }}" alt"{{ Image.alt }}"/>


  </div>
</div>
</section>
