
		<footer class="main-footer">
			<div class="yellowbar">
				<nav>
					<ul>
						<li><a href="#">Apply</a></li>
						<li><a href="#">Give</a></li>
						<li><a href="#">Visit</a></li>
					</ul>
				</nav>
			</div>

			<div class="container">

				<!-- &copy; <span id="footer-year">2017</span> XULA -->
				<div class="leaveready grid">
					<div class="col-1-2">
				<img class="logo" src="../images/logo.svg" />
			</div>
			<!-- <div class="col-1-2">
				<h4 class="georgia"> Leave Ready.</h4>
			</div> -->
		</div>
			<div class="bottomnav grid footer-navigation">

			<div class="col-1-15">
				<nav class="social">
					<ul class="vertical">
						<li><a href="#"><img src="../images/icons/facebook.svg"></a></li>
						<li><a href="#"><img src="../images/icons/twitter.svg"></a></li>
						<li><a href="#"><img src="../images/icons/instagram.svg"></a></li>
						<li><a href="#"><img src="../images/icons/you-tube.svg"></a></li>
					</ul>
				</nav>
			</div>


			<div class="col-1-4">
				<nav class="info_nav footer-links-holder">
					<p> Media</p>
					<ul class="vertical footer-links">
						<li><a href="#"> >  Blog</a></li>
						<li><a href="#"> >  In the News</a></li>
					</ul>
				</nav>
			</div>

			<div class="col-1-30">
				<nav class="info_nav footer-links-holder">
					<p> Contact Us</p>
					<ul class="vertical contact footer-links">
						<li>Xavier University of Louisiana
							<br> 1 Drexel Drive New Orleans,
							<br> LA 70125 USA
						</li>
						<br>
						<br>
						<li><a href="tel:1-504-486-7411">(504) 486 7411</a>

</li>
						<li><a href="#"> Find us on a map</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-1-30">
				<nav class="info_nav footer-links-holder">
					<p> Useful Links</p>
					<ul class="vertical footer-links">
						<li><a href="#"> >  Request Information</a></li>
						<li><a href="#"> >  Apply</a></li>
						<li><a href="#"> >  Campus News</a></li>
						<li><a href="#"> >  Site Map</a></li>
						<li><a href="#"> >  For Counselors</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="social_mobile grid">

		<div class="col-1-2">

			<nav class="social">
				<ul class="vertical">
					<li><a href="#"><img src="../images/icons/facebook.svg"></a></li>
					<li><a href="#"><img src="../images/icons/twitter.svg"></a></li>
					<li><a href="#"><img src="../images/icons/instagram.svg"></a></li>
					<li><a href="#"><img src="../images/icons/you-tube.svg"></a></li>
				</ul>
			</nav>
		</div>
		<div class="col-1-2">

			<nav class="mobilenav">
				<ul>
					<li><a href="#">about</a></li>
					<li><a href="#">admissions</a></li>
					<li><a href="#">academics</a></li>
					<li><a href="#">athletics</a></li>
					<li><a href="#">alumni</a></li>
					<li><a href="#">Student life</a></li>
				</ul>
			</nav>
		</div>

</div>
			</div>
			<div class="yellowbar">

				<nav>
					<ul>
						<li><a href="#">about</a></li>
						<li><a href="#">admissions</a></li>
						<li><a href="#">academics</a></li>
						<li><a href="#">athletics</a></li>
						<li><a href="#">alumni</a></li>
						<li><a href="#">Student life</a></li>
					</ul>
				</nav>
			</div>

		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<!-- <script src="/js/modules/search_nav.js"></script> -->
<!-- <script src="/js/modules/slider.js"></script> -->
<script type="text/javascript">

	// $(document).ready(function() {
  // //Set the carousel options
  // $('#quote-carousel').carousel({
  //   pauseOnHover: true,
  //   interval: 6000,
  // });
  //   });

// $(function(){
// 	$('#abay').accordion();
//
// });
//
// var acc = document.getElementsByClassName("accordion");
// var i;
//
// for (i = 0; i < acc.length; i++) {
//   acc[i].onclick = function() {
//     this.classList.toggle("active");
//     var panel = this.nextElementSibling;
//     if (panel.style.maxHeight){
//       panel.style.maxHeight = null;
//     } else {
//       panel.style.maxHeight = panel.scrollHeight + "px";
//     }
//   }
// }

</script>

	<!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
