<!-- <div class="container">
 --><div class="main_nav">

	<!-- <img src="../images/logo/horizontal-logo-reverse.svg"/>
<img class="logo" src="../images/logo/horizontal-logo-reverse.svg"/> -->
	<nav class="menu">
		<ul class="georgia">
			<!-- <li>	<img class="logo" src="../images/logo/horizontal-logo-reverse.svg"/>
</li> -->
			<li><a href="#">About</a></li>
			<li><a href="#">Academics</a></li>
			<li><a href="#">Admissions</a></li>
			<li><a href="#">Athletics</a></li>
			<li><a href="#">Student Life</a></li>
			<li><a href="#">Alumni</a></li> d
		</ul>
	</nav>

		</div>
<!--
		</div> -->
