<div class="mobile_tablet_menu">
		<img class="logo" src="../images/logo.svg"/>
	<div class="icon-menu"> </div>
	<div class="icon-search"><a href="javascript:;" class="toggle-search"><i class="fa fa-search" aria-hidden="true"></i></a></div>

<div class="navigator">
	<nav class="mobile_menu">
			<ul class="georgia">
				<li><a href="#">About</a></li>
				<li><a href="#">Academics</a></li>
				<li><a href="#">Admissions</a></li>
				<li><a href="#">Athletics</a></li>
				<li><a href="#">Student Life</a></li>
				<li><a href="#">Alumni</a></li>
				<div class="other">
				<li><a href="#">apply</a></li>
				<li><a href="#">give</a></li>
				<li><a href="#">visit</a></li>
				<li><a href="#">students</a></li>
				<li><a href="#">faculty & staff</a></li>
			</div>

			</ul>
		</nav>
		</div>
		<div id="mobile_overlay">
		</div>
	</div>
