<div class="search-wrap">
<!-- <div class="container"> -->
		<form action="" method="" role="search">
				<input id="search-bar" placeholder="Search our website&hellip;">
			</form>
	<!-- </div> -->
</div>
