
<section class="slideshow-container">

<div class="hero-slide">
  <h1 class="slideheadline heading-2">Students at Xavier
Support the community.</h1>
</div>

<div class="hero-slide">
  <h1 class="slideheadline heading-2">Students at Xavier
Support the community.2</h1>
</div>

<div class="hero-slide">
  <h1 class="slideheadline heading-2">Students at Xavier
Support the community.3</h1>
</div>
<div class="slide_buttons">
<div class="button_box">
<a class="prev fa" onclick="plusSlides(-1)">&#xf104;</a>
</div>
<div class="button_box">
<a class="next fa" onclick="plusSlides(1)">&#xf105;</a>
</div>
<div class="dots">
<span class="dot" onclick="currentSlide(1)"></span>
<span class="dot" onclick="currentSlide(2)"></span>
<span class="dot" onclick="currentSlide(3)"></span>
</div>
</div>

</section>
