<section class="student-life grid">
<div class="col-1-2 {{BackgroundImage.[Class Name]}}">
  {{>backgroundimage this.BackgroundImage}}
</div>
<div class="col-1-2">
	{{>icon_grid [Icon_Grid]}}
</div>


</section>
