<section class="support-todays-leaders">

	<div class="container bg-concrete">
		<div class="wrap">
			<h1>Support today's leaders</h1>
			<a class="button-yellow">Alumni</a>
			<a class="button-yellow">Give Now</a>
		</div>

	</div>

	<img class="cutout" src="images/cutouts/todays-leaders.png">

</section>
