<section class="this-is-xula grid container padding">
<div class="col-1-2">
      {{>headline this.this_is_XULA}}



<div class="content">
	{{#each this_is_XULA.[Content]}}
			<h2 class="georgia heading-5">   {{ subline }} </h2>
			<br>
			<h3 class="heading-6">{{ copy }}</h3>

	{{/each}}
  <br>
  <br>
{{>button this_is_XULA.button}}
  </div>
</div>
<div class="col-1-2">
    {{>icon_grid this_is_XULA.Icon_Grid}}

  </div>
</section>
