<section class="this-is-xula grid container">
<div class="col-1-2">
      {{>headline this.this_is_XULA}}



<div class="content">
	{{#each this_is_XULA.[Content]}}
			<h5 class="georgia heading-5">   {{ subline }} </h5>
			<br>
			<h6 class="heading-6">{{ copy }}</h6>
	{{/each}}

  </div>
</div>
<div class="col-1-2">
    {{>icon_grid this_is_XULA.Icon_Grid}}
    {{>button this_is_XULA.button}}
  </div>
</section>
