
<header class="top-header">
	 <!-- <div class="container"> -->
				<div class="topnav-bar">
					<nav>
					<ul>
					<li><a href="#">apply</a></li>
					<li><a href="#">give</a></li>
					<li class="right_bar"><a href="#">visit</a></li>
					<li><a href="#">students</a></li>
					<li><a href="#">faculty & staff</a></li>
					<li><a href="javascript:;" class="toggle-search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
				</ul>
			</nav>
				</div>
		<!-- </div> -->
</header>
