<section class="fullwidth visit_apply_info">

	<div class="_icon col-1-30">
		<img src="../images/icons/visit.svg">
		<p> visit </p>
	</div>
	<div class="_icon col-1-30">
		<img src="../images/icons/apply.svg">
		<p> apply </p>
	</div>
	<div class="_icon col-1-30">
		<img src="../images/icons/requestinfo.svg">
		<p> request info </p>
	</div>
</section>
